
.thumbnail {
  width: 250px;
  // height: 450px;
  margin-right: 15px;
  clear: both;
  h3{
    color: $buttonColor;
    text-align: center;
  }
}

.fa-plus-square {
  background-color: white;
  border-radius: 4px;
  color: $buttonColor;
  font-size: 8em;
  padding: 15px;
  margin: 0 0 15px 30px;
}

.post-list{
  list-style: none;

  li{
    margin: 0 auto;
  }

  // .btn-primary{
  //   background-color: $buttonColor;
  //   color: #fff;
  // }
  .btn-default{
    background-color: #ba0707;
    color: #fff;
  }

}

.alert{
  display: none;
  width: 200px;
  height: 100px;
}

.alert .show{
  visibility: visible;
}

//Responsive Styles//

/* Tablet Styles */
@media screen and (min-width: 768px) {
  .post-list{
    margin-left: 100px;
  }

  .post-list-item{
    float: left;
  }
}

/* Laptop Styles */
@media screen and (min-width: 1024px) {
  .post-list-item{
    float: left;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1440px) {
  .post-list-item{
    float: left;
  }
}
