body.all-posts{
  background-color: white;
}
.navbar-default {
  background-color: $buttonColor;
  border-color: $buttonColor;

  button {
    position: relative;
  }

  .navbar-brand {
    position: relative;

  }

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
  }
}

 .fa-plus-square {
    background-color: white;
    border-radius: 4px;
    color: $buttonColor;
    font-size: 8em;
    padding: 15px;
    margin: 0 0 15px 30px;
}

.post-list{
  list-style: none;

  li{
    margin: 0 auto;
  }

  .btn-primary{
    background-color: $buttonColor;
    color: #fff;
  }
}

/* Desktop Styles */

@media screen and (min-width: 1440px) {
  .post-list{

    li{
      float: left;
    }

  }
}
