.navbar-default {
  background-color: $buttonColor;
  border-color: $buttonColor;
  border-radius: 0;
  height: 5em;
  margin: 0;

  li:hover{
    background-color: white;
  }



  .navbar-nav{
    margin-top: 10px;

    li a{
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
    }
  }

  .navbar-brand{
    margin-top: 10px;
    font-family: $headingFont;
    color: #fff;
    font-size: 2em;
  }

  .navbar-left{
    .btn-default{
      margin-top: 10px;
    }
    .form-control{
      margin-top: 10px;
    }
  }


  button {
    position: relative;
  }

  .navbar-brand {
    position: relative;
  }

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
  }
}
