.homepage{
  margin: 0 auto;
  background: url('../images/salad.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 50em;
  opacity: 0.8;

  p {
    font-family: $headingFont;
    font-size: 1.4em;
    color: #fff;
    text-align: right;
    margin-right: 50px;
  }

  .title{
    color: #fff;
    font-family: $headingFont;
    font-size: 6em;
    text-align: left;
    padding-top: 200px;
    margin-left: 25px;
  }

  a{
    color: #fff;
    font-family: $headingFont;
    size: 0.8em;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
  }
}

// Responsive Styles //

/* tablet styles */
@media screen and (min-width: 768px) {
.homepage{
    .title{
      text-align: center;
      margin-right: 100px;
      padding-top: 150px;
    }
    p{
      margin-right: 125px;
      font-size: 1.5em;
    }
    a{
      font-size: 1.3em;
      margin-left: 275px;
    }
  }
}

/* Laptop Styles */
@media screen and (min-width: 1024px) {

}

/* Desktop Styles */
@media screen and (min-width: 1440px) {
  .homepage{
    .title{
      font-size:8em;
    }
    p{
      // margin-right: 300px;
      text-align: center;
      margin-top: 75px;
      margin-left: 400px;
      font-size: 2.5em;
    }
    a{
      font-size: 2em;
      margin-top: 200px;
    }
  }

}
