body{
  background-image: url('../images/salad.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

// .container{
//   position: relative;
//   width: 100%;
// }
//
// .container img{
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: auto;
//   opacity: 0.6;
// }

.title{
  color: #fff;
  font-family: $homepageFont;
  font-size: 6em;
  text-align: center;
}

.login {
  background-color: $homepageButtonColor;
  border-color: $homepageButtonColor;
  width: 250px;
  border-radius: 4px;
  color: #fff;
  margin-left: 400px;
}

.sign-up{
  background-color: $homepageButtonColor;
  border-color: $homepageButtonColor;
  width: 250px;
  border-radius: 4px;
  color: #fff;
  margin-left: 50px;
}

.homepage{
  position: absolute;
  top: 50%;
  // margin: auto;
  margin-top: -100px;
  width: 100%;
}
