.post-created{
  text-align: center;
  margin-top: 100px;
  color: $postCreatedFontColor;
  font-size: 2em;
  font-family: $postCreatedFont;

  .smiley{
    font-family: sans-serif;
    font-weight: bold;
    line-height: 70%;
  }

  .smile{
    -webkit-transform: rotate(90deg);
    font-family: sans-serif;
    font-weight: bold;
    line-height: 70%;
  }
}

.post-deleted{
  text-align: center;
  margin-top: 100px;
  color: $postCreatedFontColor;
  font-size: 2em;
  font-family: $postCreatedFont;

  i{
    color: #ba0707;
  }
}
