<form class='sign-up-form'>
  <h1>Sign Up</h1>
  <aside id='sign-up'>
    <label for="first-name"></label>
    <input type='text' class='first-name' placeholder="first name">
  </aside>

  <aside id='sign-up'>
    <label for="last-name"></label>
    <input type='text' class='last-name' placeholder="last name">
  </aside>

  <aside id='sign-up'>
    <label for="email"></label>
    <input type='email' class='email' placeholder="email">
  </aside>

  <aside id='sign-up'>
    <label for="password"></label>
    <input type='password' class='password' placeholder="password">
  </aside>

  <input class='submit' type="submit" value="Submit">

</form>
